body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box {
  width: fit-content;
}
[data="counter"] {
  font-size: 50px;
  text-align: center;
}
[data="icons"] {
  display: flex;
  justify-content: center;
  width: fit-content;
  gap: 20px;
}
span {
  background-color: black;
  color: white;
  padding: 20px;
}